/*
Error: Invalid CSS after "      padding ": expected "{", was "!important: 0 1..."
        on line 2179 of sass/style.scss

2174: /* Portrait and Landscape *\/
2175: @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
2176:   .navbar {
2177:     padding: 5px 0;
2178:     #manifesto {
2179:       padding !important: 0 15px;
2180:     }
2181:     .btn-ecomhack {
2182:       margin: 5px 10px 10px;
2183:       max-width: 330px !important;
2184:     }

Backtrace:
sass/style.scss:2179
/Users/JulianWork/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:1165:in `expected'
/Users/JulianWork/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:1101:in `expected'
/Users/JulianWork/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:1096:in `tok!'
/Users/JulianWork/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:641:in `block'
/Users/JulianWork/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
/Users/JulianWork/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:661:in `block_child'
/Users/JulianWork/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/JulianWork/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:642:in `block'
/Users/JulianWork/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
/Users/JulianWork/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:661:in `block_child'
/Users/JulianWork/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/JulianWork/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:642:in `block'
/Users/JulianWork/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
/Users/JulianWork/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:661:in `block_child'
/Users/JulianWork/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/JulianWork/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:642:in `block'
/Users/JulianWork/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:401:in `media_directive'
/Users/JulianWork/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:219:in `special_directive'
/Users/JulianWork/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:194:in `directive'
/Users/JulianWork/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:660:in `block_child'
/Users/JulianWork/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/JulianWork/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/JulianWork/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:42:in `parse'
/Users/JulianWork/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/engine.rb:393:in `_to_tree'
/Users/JulianWork/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/JulianWork/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/JulianWork/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/JulianWork/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/JulianWork/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `each'
/Users/JulianWork/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/JulianWork/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/JulianWork/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/JulianWork/.rvm/gems/ruby-2.2.1/gems/listen-2.10.0/lib/listen/listener.rb:291:in `call'
/Users/JulianWork/.rvm/gems/ruby-2.2.1/gems/listen-2.10.0/lib/listen/listener.rb:291:in `_process_changes'
/Users/JulianWork/.rvm/gems/ruby-2.2.1/gems/listen-2.10.0/lib/listen/listener.rb:255:in `block in _wait_for_changes'
/Users/JulianWork/.rvm/gems/ruby-2.2.1/gems/listen-2.10.0/lib/listen/listener.rb:238:in `loop'
/Users/JulianWork/.rvm/gems/ruby-2.2.1/gems/listen-2.10.0/lib/listen/listener.rb:238:in `_wait_for_changes'
/Users/JulianWork/.rvm/gems/ruby-2.2.1/gems/listen-2.10.0/lib/listen/listener.rb:327:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"      padding \": expected \"{\", was \"!important: 0 1...\"\A         on line 2179 of sass/style.scss\A \A 2174: /* Portrait and Landscape */\A 2175: @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {\A 2176:   .navbar {\A 2177:     padding: 5px 0;\A 2178:     #manifesto {\A 2179:       padding !important: 0 15px;\A 2180:     }\A 2181:     .btn-ecomhack {\A 2182:       margin: 5px 10px 10px;\A 2183:       max-width: 330px !important;\A 2184:     }"; }
