/* =======  variables  ========  */

// colors
$headline-color: #3b475f;
$text-color: #818c98;
$text-second-color: $text-color;
$link-color: #3b475f;
$orange-color: #f46464;
$orange-hover: #e97e6b;

// fonts
$montserrat-font: 'Montserrat', sans-serif;
$opensans-font: 'Open Sans', sans-serif;
$merriweather-font: 'Merriweather', sans-serif;


/* =======  mixins  ========  */

// functions
@function transparent_color($color, $alpha){
	@return rgba($color, $alpha);
}


// absolute position
@mixin absPosition ($top: auto, $right: auto, $bottom: auto, $left: auto) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

//opacity
@mixin opacity($opacity) {
     opacity: $opacity;
     $opacityIE: $opacity * 100;
     filter: alpha(opacity=$opacityIE);
}

//button
@mixin button($width, $height){
	font-family: $montserrat-font;
	display: block;
	height: $height;
	width: $width;
	line-height: $height;
	text-align: center;
	text-decoration: none;
}

@mixin button-submit($width, $height){
	height: $height;
	width: $width;
	border: none;
	box-shadow: none;
}

//border radius
@mixin radius($radius) {
  	-webkit-border-radius: $radius;
  	border-radius: $radius;
  	background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

@mixin gradient() {
	background: #fe7955;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmU3OTU1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YwNWM2YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: linear-gradient(135deg,  #fe7955 0%,#f05c6a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe7955', endColorstr='#f05c6a',GradientType=1 );
}

// Single side border-radius

@mixin border-top-radius($radius) {
 	 -webkit-border-top-right-radius: $radius;
 	 border-top-right-radius: $radius;
 	 -webkit-border-top-left-radius: $radius;
 	 border-top-left-radius: $radius;
 	 background-clip: padding-box;
}
@mixin border-right-radius($radius) {
 	 -webkit-border-bottom-right-radius: $radius;
 	 border-bottom-right-radius: $radius;
     -webkit-border-top-right-radius: $radius;
     border-top-right-radius: $radius;
     background-clip: padding-box;
}
@mixin border-bottom-radius($radius) {
 	 -webkit-border-bottom-right-radius: $radius;
 	 border-bottom-right-radius: $radius;
 	 -webkit-border-bottom-left-radius: $radius;
 	 border-bottom-left-radius: $radius;
 	 background-clip: padding-box;
}
@mixin border-left-radius($radius) {
  	-webkit-border-bottom-left-radius: $radius;
 	 border-bottom-left-radius: $radius;
     -webkit-border-top-left-radius: $radius;
     border-top-left-radius: $radius;
     background-clip: padding-box;
}


.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-md-15 {
    width: 20%;
    float: left;
}


@media only screen and (max-width: 1200px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media only screen and (max-width : 996px) {
    .col-md-15 {
        width: 33.3333% !important;
        margin-bottom: 10px !important;
        float: left;
    }
}
@media only screen and (max-width: 768px) {
	.col-md-15 {
        width: 50% !important;
        float: left;
    }
}

@media only screen and (max-width: 480px) {
	.col-md-15 {
        width: 100% !important;
    }
}


/******************************************************************************************
/*  1-General styles */
/******************************************************************************************/
body{
	background-color: #fff;
	color: $text-color;
	font-family: $opensans-font;
	background-color: #fff;
	font-size: 16px;
	line-height: 28px;
}

h2{
	color: $headline-color;
	font-family: $montserrat-font;
	font-size: 32px;
	font-weight: 700;
	text-transform: uppercase;
}

h3{
	color: $headline-color;
	font-size: 20px;
	font-weight: 600;
}

p{
	color: $text-color;
	line-height: 28px;
}

.section-title{
	color: $orange-color;
	font-family: $merriweather-font;
	font-size: 18px;
	font-style: italic;
}

.img-responsive{max-width: 100% !important;}

hr{
	width: 80px;
	height: 4px;
	@include radius(5px);
	border: none;
}

ul, li{
	list-style: none;
}

a:hover{
	text-decoration: none !important;
}
a:focus, a:active{outline: none;}

/* ============================== */
/*		    header  			  */
/* ============================== */

.loader {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 9999;

  img {
	  position: absolute;
	  left: 50%;
	  top: 50%;
	  margin-left: -35px;
	  margin-top: -35px;
	}
}

//---- override bootstrap styles ------
.navbar{transition: all .5s;}
.nav > li > a:hover, .nav > li > a:focus{background-color: transparent;}
.navbar-nav > li > a{padding: 10px 15px;}
.navbar-nav{padding-top: 15px !important;}
.navbar-header{padding-bottom: 5px !important; transition: all .5s;}
.navbar{margin-bottom: 0; padding-top: 15px !important; padding-bottom: 20px !important; transition: all .5s;}

.navbar-toggle{
	margin-top: 15px;

	.icon-bar{
		background-color: #fff;
	}
}

#header-navigation{

	li{
		margin-bottom: 5px;
	}
}


header{
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 9990;
	-webkit-backface-visibility: hidden;

	.logo{

		display: inline-block;
		position: relative;

		img {
			width: 180px;
		}

		.dark-logo-img{
			display: none;
			position: absolute;
			top: 15px;
			left: 15px;
		}

		&:before{
			background-color: $orange-color;
		}
	}

}


.sticky-navbar{

	background-color: #fff;
	padding-bottom: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

	.nav > li > a{
		color: $text-color !important;
		&:hover{
			color: $headline-color !important;
			&:before{
				background-color: $orange-color !important;
				height: 3px !important;
			}
		}

	}

	.navbar-toggle .icon-bar{
		background-color: $headline-color;
	}

	.logo{

		display: inline-block;
		position: relative;

		.dark-logo-img{
			display: none;
			position: absolute;
			top: 15px;
			left: 15px;
		}

	}

	.nav li.current a{
		color: $headline-color !important;
		&:before{
			background-color: $orange-color !important;
			height: 3px !important;
		}

	}

	#header-navigation{
		background-color: transparent;
	}
}


.main-navigation-header{

	padding: 25px 0;

	.main-navigation{

		padding-top: 20px;
		z-index: 9991 !important;

		li{
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 700;
			letter-spacing: 1px;
			text-align: center;
			a{
				font-family: $montserrat-font;
				color: transparent_color(#fff, .3);
				position: relative;
				transition: all .6s;
				width: 90px;
        text-align: left;
				z-index: 1;

				&:before{
				    content: "";
				    background-color: transparent_color(#fff, .2);
				    @include absPosition(auto, auto, 0, 15px);
				    height: 0;
				    width: 30px;
				    transition: height .5s;
				    z-index: 20;
				}
				&:hover{
					color: #fff;
					&:before{
						height: 3px;
					}
				}

			}
		}
	}
}


/* ============================== */
/*		    main section  	      */
/* ============================== */

#main-section{
	background: url("../img/main-bg.jpg") no-repeat fixed center bottom;
    background-size: cover;
    color: transparent_color(#fff, .4);
    font-family: $merriweather-font;
    position: relative;
    padding: 180px 0 135px 0;

    .overlay{
    	background-color: transparent_color(#192132, .92);
	    @include absPosition(0, auto, auto, 0);
	    width: 100%;
	    height: 100%;
    }

    .side-text{
		padding-top: 235px;

		.small-text{
			font-size: 20px;
			font-style: italic;
			display: inline-block;
			padding: 6px 15px;
			border-top: 1px solid transparent_color(#fff, .2);
			border-bottom: 1px solid transparent_color(#fff, .2);
		}
    }

    .main-intro{
	    // text-align: center;

	    .curved-text{
		    color: #fff;
		    font-family: $montserrat-font;
		    font-size: 40px;
		    font-weight: 700;
		    text-transform: uppercase;
		    letter-spacing: 5px;
	    }

	    .medium-text{
		    font-size: 30px;
		    font-style: italic;
		    margin-top: 50px;
		    display: inline-block;
	    }

	    h1{
	    	color: #fff;
		    font-family: $montserrat-font;
		    // font-size: 92px;
		    // font-weight: 700;
		    // margin-top: 40px;
		    // text-transform: uppercase;
		    // letter-spacing: 7px;
        font-size: 72px;
        font-weight: 400;
        margin-top: 25px;
        font-size: 50px !important;
	    }

      .big-text {
        font-size: 80px;
        color: #26b6cb;
        font-family: $montserrat-font;
        font-weight: 700;
        font-size: 98px;
        line-height: 90px;
        margin-top: 5px;
        padding: 10px 0;
        text-transform: uppercase;
      }

      .small-text {
        font-size: 18px !important;
        font-size: 20px;
        text-transform: uppercase;
        margin-top: 30px;
        margin-right: 60px;
        display: inline-block;
        i {
          padding-right: 10px;
        }
        .highlight {
          font-family: $montserrat-font;
          color: #fff;
        }
      }

      .description {
        padding-top: 70px;
        font-size: 14px;
        font-style: italic;
        line-height: 18px;
      }

	    .main-button{
	    	color: #fff;
		    @include button(200px, 50px);
		    font-weight: 700;
		    @include gradient();
			margin: 55px auto 0;
			@include radius(3px);
			text-transform: uppercase;
			letter-spacing: 2px;
			transition: background-color 0.4s ease-out 0s;

			&:hover{
				background: linear-gradient(135deg,  #f05c6a 0%, #fe7955 100%);
				background-color: $orange-color;
			}
	    }
    }
}


/* ============================== */
/*		    about section  	      */
/* ============================== */

#about{
	padding: 55px 0 95px 0;
	text-align: center;

	.row{
		margin-top: 70px;
	}

	h2{
		margin-top: 17px;
	}

  hr{
    background-color: transparent_color(#000, .1);
  }

  .main-text{
    max-width: 590px;
  }

	.left-wrapper{

		padding-top: 85px;

		.large-text{
			color: #a8b4c1;
			font-family: $merriweather-font;
			font-size: 24px;
			font-style: italic;
			padding-right: 30px;
			line-height: 36px;
		}
	}

	.right-wrapper{

		padding-left: 50px;

		h3{
			margin-top: 10px;
		}

		.medium-text{
			color: $text-color;
			font-size: 18px;
			line-height: 28px;
			margin-top: 20px;
		}
	}
}


/* ============================== */
/*		    features section  	  */
/* ============================== */

#event, #prices{
	background: url("../img/feature-bg.png") no-repeat fixed center bottom;
    background-size: cover;
	padding: 80px 0;
	text-align: center;

  hr{
    background-color: transparent_color(#000, .1);
  }

  .main-text{
    //color: transparent_color(#fff, .5);
    max-width: 590px;
  }

  ul {
    padding: 50px 0;
    &.sub-list {
      padding: 0;
      font-size: 14px;
      opacity: 0.8;
      li {
        padding: 0;
      }
    }
  }

  li {
    padding-bottom: 15px;
  }

	.feature-item{
		margin-top: 80px;

		i{
			color: $headline-color;
			background-color: #fff;
			font-size: 36px;
			display: block;
			width: 100px;
			height: 100px;
			line-height: 100px;
			border: 1px solid transparent_color(#000, .08);
			@include radius(50%);
			margin: 0 auto;
			transition: all .7s;
		}

		h3{
			margin-top: 23px;
		}

		p{
			margin-top: 18px;
			padding: 0 20px;
			line-height: 24px;
		}

		a{
			color: $headline-color;
			text-transform: capitalize;
			transition: all .7s;

			&:hover{
				text-decoration: none;
			}
		}

		&:hover > i{
			background-color: $headline-color;
			color: #e1e2e9;
		}

		&:hover > a{
			color: $orange-color;
		}
	}

	.owl-controls{
		margin-top: 75px;
	}

	.owl-pagination{

		.owl-page{
			span{
				background-color: transparent;
				width: 16px;
				height: 16px;
				border: 2px solid transparent_color($headline-color, .3);
				@include radius(50%);
				margin-bottom: 7px;
				transition: all .5s;
			}
		}

		.active{
			span{
				background-color: $orange-color;
				width: 20px;
				height: 20px;
				border: none;
				margin-bottom: 5px;
				@include radius(50%);
			}
		}
	}
}


/* ============================== */
/*		    z-layout1 section  	  */
/* ============================== */

#z-layout1{
	padding: 135px 0;

	h2{
		font-size: 48px;
		line-height: 58px;
	}

	hr{
		background-color: $headline-color;
		width: 80px;
		height: 4px;
		@include radius(5px);
		text-align: left;
		margin: 25px 0;
	}

	p{
		color: $text-color;
		font-size: 18px;
	}

	.button{
		@include button(160px, 40px);
		color: $headline-color;
		font-size: 14px;
		border: 1px solid $headline-color;
		text-transform: uppercase;
		margin-top: 30px;
		@include radius(3px);
		transition: all .5s;

		&:hover{
			background-color: $headline-color;
			color: #fff;
		}
	}
}

/* ============================== */
/*		    team section  	  */
/* ============================== */

#jury{
	@include gradient();
	text-align: center;
	padding: 70px 0;

	.section-title{
		color: transparent_color(#000, .35);
		font-family: $merriweather-font;
		font-style: italic;
	}

	h2{
		color: #fff;
		font-weight: 400;
	}

	hr{
		background-color: transparent_color(#000, .1);
	}

	.main-text{
		color: transparent_color(#fff, .5);
		max-width: 590px;
	}

	.team-item{
		margin-top: 50px;

		.team-thumbnail{
			width: 260px;
			padding: 10px;
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMDQiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(-45deg,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.04) 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0.04)));
background: -webkit-linear-gradient(-45deg,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.04) 100%);
background: -o-linear-gradient(-45deg,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.04) 100%);
background: -ms-linear-gradient(-45deg,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.04) 100%);
background: linear-gradient(135deg,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.04) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#0a000000',GradientType=1 );
			@include radius(50%);
			position: relative;
			overflow: hidden;
		}

		.hovered{
			background-color: transparent;
			width: 240px;
			height: 240px;
			position: absolute;
			top: 10px;
			left: 10px;
			overflow: hidden;
			@include radius(50%);
			transition: all .5s;

			i{
				color: #fff;
				font-size: 24px;
				width: 48px;
				height: 48px;
				line-height: 48px;
				position: absolute;
				transition: all .3s;

				@include gradient();
				@include radius(50%);
			}

			.first{
				top: -48px;
				left: 61px;
				transform: rotate(365deg);
			}

			.second{
				bottom: -48px;
				right: 62px;
				transform: rotate(-365deg);
			}
		}

		h3{
			color: #fff;
			font-family: $montserrat-font;
			font-size: 18px;
			font-weight: 400;
			transition: all .5s;
			transition: all .5s;
		}

		p{
			color: transparent_color(#000, .5);
			transition: all .5s;
		}

		.wrapper{

			display: inline-block;

			&:hover .hovered{
				background-color: transparent_color(#192132, .9);
				display: block;
			}
			&:hover .first{
				top: 96px;
				transform: rotate(0deg);
			}

			&:hover .second{
				bottom: 96px;
				transform: rotate(0deg);
			}
			&:hover h3{
				color: transparent_color(#333, .4);
			}

			&:hover p{
				color: #fff;
			}
		}

	}

	.owl-pagination{

		margin-top: 40px;

		.owl-page{
			span{
				background-color: transparent;
				width: 16px;
				height: 16px;
				border: 2px solid transparent_color(#fff, .4);
				@include radius(50%);
				margin-bottom: 7px;
				transition: all .5s;
			}
		}

		.active{
			span{
				background-color: #fff;
				width: 20px;
				height: 20px;
				border: none;
				margin-bottom: 5px;
				@include radius(50%);
			}
		}
	}


}
/* ============================== */
/*		    z-layout2 section  	  */
/* ============================== */

#venue{

	background: url("../img/gallery-bg.jpg") no-repeat fixed center bottom;
    background-size: cover;
	padding: 135px 0;
	position: relative;

	.overlay{
    	background-color: transparent_color(#192132, .92);
	    @include absPosition(0, auto, auto, 0);
	    width: 100%;
	    height: 100%;
    }

	h2{
		color: #fff;
		font-size: 48px;
		line-height: 58px;
		padding-right: 50px;
	}

	hr{
		background-color: #fff;
		text-align: left;
		margin: 25px 0;
	}

	p{
		color: transparent_color($text-color, .7);
		font-size: 18px;
	}

	.button{
		@include button(160px, 40px);
		color: #fff;
		font-size: 14px;
		border: 1px solid #fff;
		text-transform: uppercase;
		margin-top: 30px;
		@include radius(3px);
		transition: all .5s;

		&:hover{
			background-color: #fff;
			color: #192132;
		}
	}

	#gallery-slider{
		padding-left: 0;
		position: relative;
		img{
			display: block;
			width: 100%;
			height: auto;
		}
	}

	.owl-wrapper-outer{
		border: 20px solid transparent_color(#000, .1);
		li{
			//padding: 18px;
		}
	}

	.owl-controls{
		position: absolute;
		left: 50%;
		margin-left: -46px;
		bottom: 40px;

		.owl-buttons div{
			background-color: transparent_color(#192132, .7);
			padding: 0;
			margin: 0;
			opacity: 1;

			&:hover{
				background-color: #192132;
			}

			i{
				font-size: 24px;
				line-height: 41px;
				width: 41px;
				height: 41px;
			}
		}

		.owl-prev{
			margin-right: 10px !important;
		}
	}
}


/* ============================== */
/*		  timeline section    	  */
/* ============================== */

#timeline{
	padding: 120px 0;
	text-align: center;

	.nav-tabs{
		display: inline-block;
		border: none;
		margin-top: 60px;

		li{
			width: 180px;
			height: 50px;
			margin-right: 20px;

			a{
				color: #a8b4c1;
				font-family: $montserrat-font;
				font-size: 14px;
				line-height: 46px;
				width: 180px;
				padding: 0;
				border: 2px solid #f4f6f8;
				@include radius(5px);
				text-transform: uppercase;
				transition: all .5s;
			}
		}

		.active{
			a{
				background-color: #f4f6f8;
				color: #1f2429;
				line-height: 50px;
				border: none;
			}
		}
	}

	.tab-pane{
		transition: all .5s;
	}

	.timeline-wrapper{
		position: relative;
		margin-top: 60px;
		padding-bottom: 40px;

		&:before{
			background-color: #f0f1f2;
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			height: 100%;
			width: 2px;
		}

		.date-container{
			background-color: #fff;
			border: 2px solid #f0f1f2;
			padding: 5px;
			width: 75px;
			height: 75px;
			position: relative;
			@include radius(50%);
			z-index: 1000;

			.date{
				color: #fff;
				background-color: $headline-color;
				font-family: $montserrat-font;
				font-size: 24px;
				font-weight: 400;
				width: 60px;
				min-height: 60px;
				display: block;
				margin: 0 auto;
				padding-top: 10px;
				line-height: 20px;
				@include radius(50%);

				small{
					font-size: 14px;
					text-transform: uppercase;
				}
			}
		}

		.timeline-block{
		 	position: relative;
		 	margin: 2em 0;
		 	margin: 0 auto 50px;
		 	overflow: hidden;
		}

		.timeline-date, .timeline-info{
			width: 50%;
			padding: 0 40px;
		}

		.timeline-info{
			span{
				font-family: $merriweather-font;
				font-style: italic;
			}
			h3{
				font-family: $montserrat-font;
				font-weight: 400;
				font-size: 24px;
				line-height: 32px;
				margin-top: 5px;
			}
			p{
				line-height: 24px;
			}
		}

		.timeline-date{

			padding-top: 35px;
			position: relative;

			p{
				color: $orange-color;
				font-family: $montserrat-font;
				font-size: 24px;
				font-weight: 400;

				span{
					color: $headline-color;
				}
			}

			&:after{
				background-color: $headline-color;
				content: '';
				position: absolute;
				top: 40px;
				right: -9px;
				height: 16px;
				width: 16px;
				@include radius(50%);
				border: 3px solid #f0f1f2;
			}
		}

	}

	.inverted{
		.timeline-date{
			&:after{
				left: -7px;
			}
		}
	}


	.download-button{
		@include button(220px, 60px);
		background-color: $headline-color;
		color: #fff;
		font-family: $montserrat-font;
		@include radius(3px);
		line-height: 50px;
		display: block;
		letter-spacing: 1px;
		border: 5px solid #fff;
		margin-left: auto;
		margin-right: auto;
		box-shadow: 0 0 2px transparent_color(#000, .3);
		text-transform: uppercase;
	}
}

/* ============================== */
/*		  testimonials section    */
/* ============================== */
#testimonials{

	background: url("../img/testi-bg.jpg") no-repeat fixed center bottom;
    background-size: cover;
	padding: 100px 0 50px;
	position: relative;
	text-align: center;

	.overlay{
    	background-color: transparent_color(#192132, .92);
	    @include absPosition(0, auto, auto, 0);
	    width: 100%;
	    height: 100%;
    }

    .testi-slide{

    	img{
	    	padding: 8px;
	    	border: 2px solid #484d53;
	    	@include radius(50%);
    	}

		p{
		    color: #f0f1f2;
		    font-family: $merriweather-font;
		    font-size: 20px;
		    font-style: italic;
		    line-height: 40px;
		    margin-top: 50px;
		    padding: 0 40px;
	    }

	    hr{
			background-color: #484d53;
			margin-top: 35px;
		}

		span{
			color: #fff;
			font-family: $montserrat-font;
			font-size: 18px;
			display: inline-block;
			margin-top: 10px;

			a{
				color: $orange-color;
				font-family: $opensans-font;
			}
		}


	}

	.owl-pagination{

		margin-top: 40px;

		.owl-page{
			span{
				background-color: transparent;
				width: 16px;
				height: 16px;
				border: 2px solid transparent_color(#fff, .4);
				@include radius(50%);
				margin-bottom: 7px;
				transition: all .5s;
			}
		}

		.active{
			span{
				background-color: #fff;
				width: 20px;
				height: 20px;
				border: none;
				margin-bottom: 5px;
				@include radius(50%);
			}
		}
    }
}
/* ============================== */
/*		  pricing section         */
/* ============================== */
#pricing{
	background-color: #f4f6f8;
	padding: 65px 0 80px;
	text-align: center;

	hr{
		background-color: transparent_color(#000, .1);
	}

	.main-text{
		color: #a8b4c1;
		max-width: 590px;
	}

	.table-item{
		font-family: $montserrat-font;
		margin-top: 40px;
		padding: 0 20px;

		.wrapper{
			background-color: #fff;
			border: 1px solid transparent_color(#000, .06);
			@include radius(5px);
			position: relative;
		}

		h3{
			color: $orange-color;
			font-size: 24px;
			font-weight: 400;
			padding-top: 5px;
		}

		hr{
			background-color: transparent_color(#000, .06);
			height: 1px;
			width: 100%;
			position: absolute;
			top: 110px;
			z-index: 0;
		}

		.price-box{
			background-color: $headline-color;
			color: #fff;
			font-size: 40px;
			font-weight: 700;
			width: 100px;
			height: 100px;
			line-height: 100px;
			margin: 25px auto;
			@include radius(50%);
			position: relative;
			z-index: 1;

			sup{
				color: $orange-color;
				font-size: 20px;
				font-weight: 400;
			}

		}

		.darker{
			color: $headline-color;
			font-size: 16px;
			margin-top: 20px;
		}

		p{
			color: $text-color;
			font-size: 14px;
			line-height: 24px;
			padding: 5px 15px 20px;

		}

		.button{
			color: $headline-color;
			width: 100%;
			line-height: 56px;
			text-align: center;
			display: block;
			border-top: 1px solid transparent_color(#000, .06);
			text-transform: uppercase;
			transition: all .5s;

			&:hover{
				color: #fff;
				background-color: $headline-color;
			}
		}


	}
}

/* ============================== */
/*		     faqs section         */
/* ============================== */

#faqs{
	padding: 130px 0;
	text-align: left;

	hr{
		background-color: $headline-color;
		text-align: left !important;
		margin-left: 0;
		margin-right: 0;
	}

	.main-text{
		padding-right: 50px;
		margin-bottom: 50px;
	}

	// -- styling accordion --

	.panel-group{
		width: 90%;
	}
	.panel{
		margin-top: 45px;
		border: none;
		box-shadow: none;
		.panel-body{
			border: none !important;
		}
	}

	.panel-heading{
		padding: 0;
		@include radius(5px);
		overflow: hidden;

		.panel-title{
			font-family: $montserrat-font;
			font-size: 20px;
			font-weight: 400;

			a{
				background-color: $headline-color;
				color: #fff;
				padding: 15px 20px;
				display: block;
				text-decoration: none;

				.icon-toggle:after{
					color: $orange-color;
					content: "x";
					font-weight: 700;
				}
			}

			.collapsed{
				background-color: #f4f6f8;
				color: $headline-color;

				.icon-toggle:after{
					color: $headline-color;
					content: "+";

				}
			}
		}
	}

}

/* ============================== */
/*		     faqs section         */
/* ============================== */
#apis{
	background: #f4f6f8;
	padding: 75px 0;
	text-align: center;

	hr{
		width: 80%;
		border: none;
		height: 1px;
		margin: 0 auto;
		text-align: center;
		background: rgb(240,241,242);
		background: -moz-linear-gradient(left, rgba(240,241,242,1) 0%, rgba(224,225,226,1) 50%, rgba(240,241,242,1) 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(240,241,242,1)), color-stop(50%,rgba(224,225,226,1)), color-stop(100%,rgba(240,241,242,1)));
		background: -webkit-linear-gradient(left, rgba(240,241,242,1) 0%,rgba(224,225,226,1) 50%,rgba(240,241,242,1) 100%);
		background: -o-linear-gradient(left, rgba(240,241,242,1) 0%,rgba(224,225,226,1) 50%,rgba(240,241,242,1) 100%);
		background: -ms-linear-gradient(left, rgba(240,241,242,1) 0%,rgba(224,225,226,1) 50%,rgba(240,241,242,1) 100%);
		background: linear-gradient(to right, rgba(240,241,242,1) 0%,rgba(224,225,226,1) 50%,rgba(240,241,242,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f1f2', endColorstr='#f0f1f2',GradientType=1 );
	}

	.first-row{
		margin-top: 60px;
		display: inline-block;
		margin-bottom: -8px;
	}

	.item{
		height: 185px;
		width: 280px;
		display: table;
		border-width: 0;
		border-right-width: 1px;
		border-style: solid;
		border-color: #f0f1f2;
		-webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f0f1f2), to(#e0e1e2)) 1 100%;
		-webkit-border-image: -webkit-linear-gradient(#f0f1f2, #e0e1e2) 1 100%;
		-moz-border-image: -moz-linear-gradient(#f0f1f2, #e0e1e2) 1 100%;
		-o-border-image: -o-linear-gradient(#f0f1f2, #e0e1e2) 1 100%;
		border-image: linear-gradient(to bottom, #f0f1f2, #e0e1e2) 1 100%;

		&:last-child{
			border: none;
		}

		a {
			display: table-cell;
			vertical-align: middle;
			transition: .5s -webkit-filter linear;

			img{
				width: auto !important;
				vertical-align: middle;
				filter: url('filters.svg#grayscale'); /* Firefox 3.5+ */
			    filter: gray; /* IE6-9 */
			    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
			    transition: .5s -webkit-filter linear;
			}

			&:hover img{
			    filter: none;
				-webkit-filter: grayscale(0);
		    }
		}
	}

	.second-row{

		display: inline-block;

		.item{
			border-color: #f0f1f2;
			-webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e0e1e2), to(#f0f1f2)) 1 100%;
			-webkit-border-image: -webkit-linear-gradient(#e0e1e2, #f0f1f2) 1 100%;
			-moz-border-image: -moz-linear-gradient(#e0e1e2, #f0f1f2) 1 100%;
			-o-border-image: -o-linear-gradient(#e0e1e2, #f0f1f2) 1 100%;
			border-image: linear-gradient(to bottom, #e0e1e2, #f0f1f2) 1 100%;

			&:last-child{
				border: none;
			}
		}
	}

	.button{
		@include button(200px, 50px);
		color: $headline-color;
		font-family: $montserrat-font;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		border: 2px solid $headline-color;
		margin-top: 20px;
		@include radius(5px);
		transition: all .5s;

		&:hover{
			background-color: $orange-color;
			color: #fff;
			border-color: $orange-color;
		}
	}
}


/* ============================== */
/*		     faqs section         */
/* ============================== */

#cta-section{
	background: url("../img/cta-bg.jpg") no-repeat fixed center bottom;
    background-size: cover;
	padding: 80px 0 50px;
	position: relative;
	text-align: center;

	.overlay{
    	background-color: transparent_color(#192132, .92);
	    @include absPosition(0, auto, auto, 0);
	    width: 100%;
	    height: 100%;
    }

    i{	color: #fff;
	    font-size: 24px;
	    width: 60px;
	    height: 60px;
	    line-height: 60px;
	    border: 2px solid #fff;
	    @include radius(50%);
    }

    h2{
    	color: #fff;
	    font-size: 48px;
	    margin-top: 40px;
    }

	.title{
		color: $orange-color;
		font-family: $merriweather-font;
		font-size: 24px;
		font-style: italic;
		margin-top: 30px;
	}

	.main-text{
		color: transparent_color(#fff, .6);
		font-size: 20px;
		margin-top: 30px;
	}

	img{
		display: block;
		margin: 0 auto;
		margin-top: 20px;
	}
	a{
		color: #fff;
		font-family: $montserrat-font;
		font-size: 18px;
		text-transform: uppercase;
		padding-top: 20px;
		display: inline-block;
	}

}

/* ============================== */
/*		     Form section         */
/* ============================== */

#form-section{
	background-color: #f4f6f8;
	padding: 35px 0;

	input{
		color: #a8b4c1;
		font-family: $merriweather-font;
		font-size: 16px;
		font-style: italic;
		height: 50px;
		border: none;
		box-shadow: none;
		width: 100%;
	}

	.button{
		color: #fff;
		font-weight: 700;
		width: 100%;
		@include button(100%, 50px);
		@include gradient();
		@include radius(5px);
		padding: 0;
		border: 0;
		text-transform: uppercase;
	}

	.bootstrap-select{
		width: 100%;
		height: 50px;
		padding: 0;
		border: none;
		box-shadow: none;

		.selectpicker{
			@extend .bootstrap-select;
			padding-left: 20px;

			span{
				color: #a8b4c1;
				font-family: $merriweather-font;
				font-size: 16px;
				font-style: italic;
			}

			&:hover{
				background-color: #eff1f3;
			}
		}

		.dropdown-menu{
			width: 100%;
			padding-left: 0;
		}
	}

	::-webkit-input-placeholder { /* WebKit browsers */
	    color: #a8b4c1;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   	color: #a8b4c1;
	   	opacity: 1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	   	color: #a8b4c1;
	   	opacity:  1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
	   	color: #a8b4c1;
	}
}

/* ============================== */
/*		     about section        */
/* ============================== */

#socials{
	text-align: center;

	.col-item{
		padding: 70px 0 60px 0;
		border-right: 1px solid #f0f1f2;

		&:last-child{
			border-right: none;
		}

		h3{
			color: $headline-color;
			font-family: $montserrat-font;
			font-weight: 400;
		}

		p{
			font-size: 14px;
			padding: 0 40px;
			margin-top: 15px;
		}

		.link{
			color: $headline-color;
			font-family: $merriweather-font;
			font-size: 14px;
			font-style: italic;
			text-decoration: underline;
		}

		.socials{
			display: inline-block;
			padding: 0;
			margin-top: 20px;

			li{
				display: inline-block;
				margin-right: 10px;

				&:last-child{
					margin-right: 0;
				}

				i{
					background-color: $headline-color;
					color: #fff;
					width: 32px;
					height: 32px;
					line-height: 32px;
					display: block;
					@include radius(50%);
					transition: all .5s;

					&:hover{
						background-color: $orange-color;
						color: #fff;
					}
				}
			}
		}
	}
}

/* ============================== */
/*		     Maps section         */
/* ============================== */

#map-location{
	width: 100%;
	height: 640px;
	position: relative;

	.test{
		position: absolute;
		z-index: 999;
	    width: 200px;
	    height: 100px;
	    display: none;
	    background-color: #fff;
	    border: 3px solid #ebebeb;
	    padding: 10px;
	}

	.info-window{
		background-color: #fff;
		width: 200px;
		padding: 17px;

		h3{
			color: $headline-color;
			font-family: $montserrat-font !important;
			font-size: 24px;
			font-weight: 400;
		}

		span{
			color: $orange-color;
			font-family: $merriweather-font  !important;
			font-size: 16px;
			font-style: italic;
		}

		p{
			line-height: 25px;
			font-family: $opensans-font !important;
			font-size: 16px;
			margin-top: 5px;
		}
	}

	// hide google map copyright
	a[href^="http://maps.google.com/maps"]{display:none !important}
	img[src^="https://maps.gstatic.com/mapfiles/api-3/images/"]{display:none !important}

	.gmnoprint a, .gmnoprint span, .gm-style-cc {
	    display:none;
	}
	.gmnoprint div {
	    background:none !important;
	}
}


/* ============================== */
/*		     Maps section         */
/* ============================== */
footer{
	padding: 25px 0;
	font-size: 14px;

	.copyright{
		margin: 0;
		a{
			color: $headline-color;
			font-family: $montserrat-font;
		}
	}

	ul{
		display: inline-block;
		margin: 0;
		li{
			margin-left: 10px;
		}

		a{
			color: $headline-color;
			font-family: $montserrat-font;
		}
	}
}



/* ============================== */
/*		       Responsive     	  */
/* ============================== */



/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

	h1{
		font-size: 75px !important;
	}

	h2{
		font-size: 30px !important;
	}

	.side-text{
		padding-top: 225px !important;
	}
	.small-text{font-size: 18px !important;}

	#z-layout1, #venue{
		h2{
			font-size: 38px;
		}
	}

	#pricing .table-item h3{
		font-size: 20px;
	}

	#faqs .panel-group{
		width: 100%;
	}
	#faqs .panel-heading .panel-title a{
		font-size: 18px;
	}
}


@media only screen and (max-width : 1125px) {


}


/* Medium Devices, Desktops */
@media only screen and (max-width : 996px) {

	h1{
		font-size: 70px !important;
	}

	h2{
		font-size: 28px !important;
	}

	#z-layout1, #venue, #timeline, #faqs, #testimonials{
		padding: 90px 0;
	}


	#about-section{
		.row{
			margin-top: 50px;
		}

		.left-wrapper{
			text-align: center;
			padding-top: 0;
			.large-text{
				font-size: 20px;
			}
		}
		.right-wrapper{
			text-align: center;
			padding-left: 15px;
		}

		.video-link{
			margin: 30px auto;
			display: inline-block;
		}
	}

	#z-layout1{
		.button{
			margin-bottom: 60px;
		}
	}

	#venue ul{
		padding-left: 0;
		margin-bottom: 60px;
	}

	#timeline .timeline-wrapper .timeline-info h3{
		font-size: 20px;
	}

	#testimonials .testi-slide p{
		padding: 0 20px;
	}

	#pricing .table-item hr{
		top: 105px;
	}


	#partners{
		.first-row, .second-row{
			width: 100%;
		}
		.item{
			width: 33%;
		}
	}

	#socials{
		padding: 60px 0;
	}

	#socials .col-item{
		padding-top: 20px;
		padding-bottom: 20px;
		border: none;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	#header-navigation{
		background-color: transparent_color(#000, .2);
	}

	footer {
    	text-align: center;
    	ul.pull-right {
	    	float: none !important;
	    	margin-top: 10px;
		}
	}
}

@media only screen and (max-width : 675px) {

	#timeline .timeline-wrapper:before{
		left: 37px !important;
	}

	#timeline .nav-tabs{display: block;}
	#timeline .timeline-wrapper .date-container{margin: 0;}
	#timeline .timeline-wrapper .timeline-date,
	#timeline .timeline-wrapper .timeline-info{
		width: 100%;
		text-align: left !important;
		padding-left: 60px;
	}

	.inverted .timeline-info{
		float: left !important;
	}
	.inverted .timeline-date{
		float: right !important;
	}


	#timeline .nav-tabs li{
		width: 30%;
		&:last-child{
			margin-right: 0;
		}
	}

	#timeline .timeline-wrapper .timeline-date:after{
		right: auto;
		left: 30px;
	}

	#timeline .download-button{
		margin-left: 0;
		margin-right: 0;
	}

	#testi-slider{padding-left: 0;}
	#testimonials .testi-slide p{font-size: 16px;}

	#partners .item a img{
		width: auto;
	}

	#cta-section h2{
		font-size: 30px;
	}

	#cta-section .title{
		font-size: 20px;
	}

	#cta-section .main-text{
		font-size: 16px;
	}

	#map-location{
		height: 500px;
	}

}

@media only screen and (max-width : 580px) {
	#timeline .nav-tabs li{width: 100%; margin: 0 0 10px;}
	#timeline .nav-tabs li a{width: 100%;}
	#timeline .nav-tabs{border: none;}
}

@media only screen and (max-width : 550px) {

	#main-section .main-intro .curved-text{font-size: 35px;}

	h2{font-size: 24px !important;}

	#z-layout1, #venue{
		h2{
			line-height: 48px;
		}
	}

	#pricing .table-item p{padding-left: 20px; padding-right: 20px;}

	#partners{
		.item{
			width: 100%;
			height: 160px;

			img{
				width: auto !important;
			}
		}

		hr{
			display: none !important;
		}

		.first-row{
			margin-top: 0;
		}
	}


}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	#main-section .main-intro .curved-text{font-size: 28px;}
	#main-section .main-intro .medium-text{font-size: 24px;}

	h1{font-size: 60px !important;}
	h2{font-size: 20px !important;}

	#faqs .panel-heading .panel-title a{font-size: 16px;}

	#map-location{height: 480px;}
}


@media only screen and (max-width : 430px) {
	h1{font-size: 50px !important;}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
